<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>


    <link rel="stylesheet" href="../css/stylesheet/mean_style_client.css" type="text/css" />
    
    <script type="text/javascript" src="/angular-touch/angular-touch.js"></script>
    <script type="text/javascript" src="/angular-route/angular-route.js"></script>
    <script src="//cdn.jsdelivr.net/mobile-detect.js/1.0.0/mobile-detect.min.js"></script>
    <script src="../js/socket_connect.js"></script>
    <script src="../js/mobilesDetect.js"></script>
     <script src="../js/form-slide/form-slide.js"></script>
    <title>slideRemote</title>
</head>

<body ng-app="slideRemoteApp" ng-controller="appCtrlSocket">
<div  class="main-wrapper">
    
    <div class="docs-head col-xs-12">
        <div class="icon_slideRemote col-xs-2 ">
            <i class="fa fa-leanpub"></i>
        </div>

        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-8">
            <h1  class="text-capitalize">SlideRemote</h1>
        </div>
    </div>

    <div ng-view class="docs-body col-xs-12" ></div>

</div>
    <div class="content-user-connected row">
        <label> Users Conected</label>
        <div class="content">
            <div user-connected ng-repeat="client in clients"  name="{{client.name}}"></div>
        </div>
    </div>
</body>
</html>