<div class="container content_view">
    <div class="text-message row ">
        
        <div class="col-xs-12">
            <h2 class="text-capitalize">{{messageForDevice}}</h2>
        </div>
        <div class="type-devices">
            <div class="type-device">
                <i class="fa fa-desktop" ng-hide="isMobile"></i>
                <i class="fa fa-mobile" ng-hide="!isMobile"></i>
            </div>
        </div>
        
        <div class="type-device col-xs-12 col-md-4 col-md-offset-4 type-device ">
            <form name="formDevice">
                <input type="text" ng-readonly="user.correct"  placeholder="enter your nickName" ng-model="user.nickname" ng-model-options="{ getterSetter: true }" class="form-group form-control" required>
                <input type="text" ng-readonly="user.correct"  placeholder="enter code" ng-model="user.codeMobile" ng-model-options="{ getterSetter: true }" class="form-group form-control">
                <button type="submit" ng-model="device.send"  ng-show="user.startToSlide" class="btn btn-primary form-group" ng-click="sendCode()" >{{messageButtonSend}}</button>
                <div class="send_message form-group"><h5>{{user.send_message}}</h5></div>
            </form>
        </div>
        
    </div>
</div>